/Vinzryyy/FYP-Desktop-App
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/CodeChunks.db
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/SemanticSymbols.db
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
.vs/FYP-Desktop-App/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
.vs/FYP-Desktop-App/FileContentIndex/3b53b743-da14-4842-836c-e18fd5352866.vsidx
.vs/FYP-Desktop-App/FileContentIndex/ac1c8704-4fec-45db-9fa1-af213b6ce7b9.vsidx
.vs/FYP-Desktop-App/FileContentIndex/c99b6d2d-596e-4791-a89e-84a6c63cd4c3.vsidx
.vs/slnx.sqlite
.vs/FYP-Desktop-App/FileContentIndex/a496aab5-25ef-4774-bb7c-abc62903413a.vsidx
*.vsidx
